/* Estilo general */
body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9; /* Fondo claro */
  color: #333; /* Texto oscuro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

/* Títulos */
h1,
h2 {
  color: #4caf50; /* Verde moderno */
  margin-bottom: 20px;
}

/* Botones */
button {
  background-color: #4caf50; /* Verde moderno */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

/* Inputs */
input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #4caf50;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
